<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.demo.app" version="1.2.0" xmlns:android = "http://schemas.android.com/apk/res/android">
  <name>demo app</name>
  <description>app demo</description>
  <author href="http://phonegap.com" email="support@phonegap.com">GuamWEBZ</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  
  <gap:plugin name="cordova-plugin-battery-status" source="npm"/>
  <gap:plugin name="cordova-plugin-camera"  source="npm"/>
  <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
  <gap:plugin name="cordova-plugin-media" source="npm"/>
  <gap:plugin name="cordova-plugin-console" source="npm"/>
  <gap:plugin name="cordova-plugin-device-motion" source="npm"/>
  <gap:plugin name="cordova-plugin-device-orientation" source="npm"/>
  <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
  <gap:plugin name="cordova-plugin-file" source="npm"/>
  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
  <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
  <gap:plugin name="cordova-plugin-vibration" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
  <gap:plugin name="cordova-plugin-device" source="npm"/>
   <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleTop" />
</gap:config-file>

  
  <icon src="www/res/icon/logo_36.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/res/icon/logo_48.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/res/icon/logo_72.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/res/icon/logo_96.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="www/res/icon/logo_80.png" gap:platform="blackberry"/>
  <icon src="www/res/icon/logo_80.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="www/res/icon/logo_57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="www/res/icon/logo_72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="www/res/icon/logo_114.png" gap:platform="ios" width="114" height="114"/>
  <icon src="www/res/icon/logo_144.png" gap:platform="ios" width="144" height="144"/>
  <icon src="www/res/icon/logo_64.png" gap:platform="webos"/>
  <icon src="www/res/icon/logo_48.png" gap:platform="winphone"/>
  <icon src="www/res/icon/logo_173.png" gap:platform="winphone" gap:role="background"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-navigation href="*" />
  <feature name="App">
    <param name="android-package" value="org.apache.cordova.App" />
</feature>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>